<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471028534662-l9tqrfu76ieg1ru92i3abcuc5l2qjie9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471028534662-l9tqrfu76ieg1ru92i3abcuc5l2qjie9</string>
	<key>API_KEY</key>
	<string>AIzaSyA9j9vIMmTP9JZnx3DoZKxDHiexrfqwJgI</string>
	<key>GCM_SENDER_ID</key>
	<string>471028534662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myboardapp</string>
	<key>PROJECT_ID</key>
	<string>myboard-cccf3</string>
	<key>STORAGE_BUCKET</key>
	<string>myboard-cccf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471028534662:ios:0e5f59ea62acfd99ce3007</string>
</dict>
</plist>